* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f2f0fc;
}

*::-webkit-scrollbar-thumb {
  background: #00255a;
}

*::-webkit-scrollbar-thumb:hover {
  background: #e2f1fa;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.react-pdf__Page__textContent {
  display: none; /* Hide text layer if it is not desired */
}
.react-pdf__Page__annotations {
  display: none; /* Hide annotations if they are being rendered */
}
